{% extends "portfolio/base.html" %}
{% block title %}Private Login{% endblock %}
{% block styles %}
<style>
	.module-link{
		color: #2b90d9;
	}

	.module-link:hover, .module-link:focus{
		text-decoration: none;
		color: #1c669c;
	}
	#module {
		background-color: #f8f9fa;
		border-radius: 8%;
		padding: 7%;
		margin: 10px;
		box-sizing: border-box;
		box-shadow: 13px 8px 20px 4px #88888891;
		height: auto;
	}
</style>
{% endblock styles %}
{% block body %}
<section id="testimonials" class="testimonials-section bg-gray">
	<div class="container">
		<br><br>
		<div class="row justify-content-center">
			<div class="col-md-3" id="module">
				<div style="text-align-last: center;">
					<i class="far fa-address-card fa-5x"></i>
					<br><br>
					<a class="module-link" href="cards"><h3>Cards</h3></a>
				</div>
			</div>
            <div class="col-md-3" id="module">
				<div style="text-align-last: center;">
                    <i class="fas fa-store fa-5x"></i>
					<br><br>
					<a class="module-link" href="shop"><h3>Shop</h3></a>
				</div>
			</div>
            <div class="col-md-3" id="module">
				<div style="text-align-last: center;">
                    <i class="fas fa-sign-out-alt fa-5x"></i>
					<br><br>
					<a class="module-link" href="logout"><h3>Logout</h3></a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block scripts %}
<script>
	function showPwd() {
		var pwd = document.getElementById("password");
		if (pwd.type === "password")
			pwd.type = "text";
		else
			pwd.type = "password";
	}
</script>
{% endblock scripts %}