{% extends "portfolio/base.html" %}
{% block title %}{{ post.title|title }}{% endblock %}
{% block styles %}
<style>
    #post{
        background-color: white;
        padding: 25px;
        border-radius: 1rem;
        box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
        margin: 20px 0px;
    }
</style>
<link rel="stylesheet" href="/media/project/CSS/comment.css">
{% endblock styles %}
{% block body %}
<section id="testimonials" class="testimonials-section bg-gray">
    <div class="container">
        <br><br>
        <header class="text-center mb-2">
            <h2 class="title">{{ post.title|title }}</h2>
        </header>
        <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        <div id="post">
            {{ post.body|safe|linebreaks }}
        </div>
        {% include 'comments.html' %}
    </div>
</section>
{% endblock %}