
<div id="comments">
    <h5>Leave a comment:</h5>
    <div class="comment">
        <span class="user rounded-circle">
            <i class="fas fa-user fa-2x" style="vertical-align: -webkit-baseline-middle;"></i>
        </span>
        <div class="comment-form">
            <form action="/blog/{{ post.pk }}/" method="POST">
                {% csrf_token %}
                {{ form.author }}
                {{ form.body }}
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
    {% if comments|length > 0 %}
    <hr>
    <h5>Comments:</h5>
    {% for comment in comments %}
    <div class="comment">
        <span class="user rounded-circle">
            <i class="fas fa-user fa-2x" style="vertical-align: -webkit-baseline-middle;"></i>
        </span>
        <span class="comment-body">
            <small style="color: grey;">{{ comment.author }}</small>
            <p style="margin: -5px 0;">{{ comment.body }}</p>
            <small style="color: grey;">{{comment.created_on.date }}</small>
        </span>
    </div>
    <hr>
    {% endfor %}
    {% endif %}
</div>